<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics.google.tracking_id }}');
</script>

<script src="{{ site.url }}/assets/js/jquery.slim.min.js"></script>
<script src="{{ site.url }}/assets/js/lity.min.js"></script>
<script src="{{ site.url }}/assets/js/tools.js"></script>

<script src="{{ site.url }}/assets/js/setup.js"></script>